@{
    ViewData["Title"] = "Home Page";
}

@model List<Item>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



    <div class="quadrant urgent-important">
        <h2>Urgent & Important</h2>

        @foreach (var x in Model.Where(item => item.Priority == 1))
        {
            <div class="task-container">
                <div class="task">
                    <!-- Display properties of the task -->
                    <p>Task: @x.ItemName</p>
                    <p>Due Date: @x.DueDate</p>

                    <!-- Edit and delete buttons -->
                <div class="edit-delete-buttons">
                    <a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.ItemId">Edit</a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@x.ItemId">Delete</a>
                </div>

                </div>
            </div>

        }

    </div>
    


    <div class="quadrant not-urgent-important">
        <h2>Not Urgent & Important</h2>

        @foreach (var x in Model.Where(item => item.Priority == 3))
        {
            <div class="task-container">
                <div class="task">
                    <!-- Display properties of the task -->
                    <p>Task: @x.ItemName</p>
                    <p>Due Date: @x.DueDate</p>

                    <!-- Edit and delete buttons -->
                <div class="edit-delete-buttons">
                    <a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.ItemId">Edit</a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@x.ItemId">Delete</a>
                </div>

                </div>
            </div>

        }

    </div>
    

    
    <div class="quadrant urgent-not-important">
        <h2>Urgent & Not Important</h2>

        @foreach (var x in Model.Where(item => item.Priority == 2))
        {
            <div class="task-container">
                <div class="task">
                    <!-- Display properties of the task -->
                    <p>Task: @x.ItemName</p>
                    <p>Due Date: @x.DueDate</p>

                    <!-- Edit and delete buttons -->
                <div class="edit-delete-buttons">
                    <a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.ItemId">Edit</a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@x.ItemId">Delete</a>
                </div>

                </div>
            </div>

        }

    </div>

            


    <!-- Not Urgent & Not Important -->
    <div class="quadrant not-urgent-not-important">
        <h2>Not Urgent & Not Important</h2>
        
            @foreach (var x in Model.Where(item => item.Priority ==4))
            {
                <div class="task-container">
                        <div class="task">
                            <!-- Display properties of the task -->
                            <p>Task: @x.ItemName</p>
                            <p>Due Date: @x.DueDate</p>

                            <!-- Edit and delete buttons -->
                                      <div class="edit-delete-buttons">
                                     <a class="btn btn-info" asp-controller="Home" asp-action="Update" asp-route-id="@x.ItemId">Edit</a>
                                        <a class="btn btn-info" asp-controller="Home" asp-action="Delete" asp-route-id="@x.ItemId">Delete</a>
                                        </div>

                         </div>
                </div>
                    
            }
        
    </div>
    